#l-gradient-layer
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  +background-image(radial-gradient(center center 0deg, circle cover, transparent 75%, rgba(gray, 0.6) 150%))
  // for some reason this is required =(
  background-image: -webkit-radial-gradient(center center, cover, transparent 75%, rgba(gray, 0.6) 150%)
  z-index: 10
  // click through this layer even though it's above eveything else
  pointer-events: none

#l-game-container
  +pie-clearfix
  position: relative
  min-height: 100%

#l-page-container
  width: $page-container-width
  margin: 0 auto
  position: relative
  // leave space for footer
  margin-bottom: 100px

#l-content-container
  +pie-clearfix
  position: relative
  z-index: 1
  background-color: $background-colour
  background-image: image-url('pattern.png')
  background-position: 20px 20px

.fork-me
  z-index: 1
  position: absolute
  top: 26px
  left: -12px
  border: 0
  &:hover
    z-index: 11

#l-lightbox-background
  display: none
  position: fixed
  left: 0
  top: 0
  height: 100%
  width: 100%
  z-index: 12
  background: rgba(#333, 0.8)

#l-lightbox
  display: none
  width: 400px
  position: fixed
  left: 50%
  top: 50%
  margin-left: -200px
  margin-top: -200px
  background: shade($blue, 60)
  +border-radius(10px)
  z-index: 13
  padding: 5*$padding 2*$padding
  text-align: center
  color: #ccc
  +box-shadow(0 0 10px rgba(#000, 1.0))
  .octet-download
    display: block
    font-size: 32px
    margin-top: 2*$padding
    margin-bottom: 3*$padding
    color: tint($blue, 60)
  hr
    height: 1px
    background: $blue
    border: 0
    margin: 0 auto 2*$padding

#file-drop-zone
  width: 300px
  height: 100px
  text-align: center
  margin: $padding auto 0
  border: 2px dotted #ddd
  +border-radius(10px)
  &:hover
    border-color: #fcfcfc
    .file-drop-zone--note
      color: #fcfcfc
      cursor: default

.file-drop-zone--note
  margin-top: 35px
  color: #999
