#l-page-container
  width: $page-container-width
  margin: 0 auto

.navigation-entries
  +pie-clearfix
  margin: $padding 0
  padding: 0
.navigation-entry
  float: left
  margin-right: $three-quarter-padding
  &:last-child
    margin-right: 0
