#l-header-container
  +pie-clearfix
  width: 100%
  padding: 4px $padding $half-padding
  +background(linear-gradient(top center, #252525, #040404))
  //background: #111
  z-index: 11
  position: relative
  margin-bottom: $padding

#l-header-wrapper
  width: $page-container-width
  margin: 0 auto

.about
  color: #aaa
  font-size: 13px
  float: right
  line-height: 27px
  > a
    color: #3973e5


#title
  float: left
  margin: 0 3*$padding 0 0
  font-size: 20px
  > a
    font-weight: normal
    color: #eee

#l-navigation
  +pie-clearfix
  list-style: none
  float: left
  color: #a0a0a0

.l-navigation--splitter
  width: 2px
  height: 17px
  background-color: #7B7B7B
  margin: 5px 2*$padding 0 0
  float: left

.l-navigation--item
  float: left
  font-size: 16px
  line-height: 27px
  margin-right: 2*$padding
  > a
    color: #a0a0a0
    cursor: pointer
    &:hover
      color: #eee
