#l-navigation
  +pie-clearfix
  > h2
    font-size: 16px
    font-weight: normal

.navigation-entries
  +pie-clearfix
  margin: $padding 0
  padding: 0
  list-style-type: none
  float: right
.navigation-entry
  float: left
  margin-right: $three-quarter-padding
  &:last-child
    margin-right: 0

#serve-new-cards
  background: #2750a3
  +border-radius(4px)
  text-align: center
  width: 100px
  &:hover
    background: tint(#2750a3, 10)
  > a
    color: #fcfcfc
    text-decoration: none
    +text-shadow(0 0 2px #333)
    width: 100px
    padding: 5px 10px
    //width: 100%
    display: block
