.navigation-entries
  list-style-type: none
  float: right

#serve-new-cards
  background: #2750a3
  +border-radius(4px)
  text-align: center
  width: 100px
  &:hover
    background: tint(#2750a3, 10)
  > a
    color: #fcfcfc
    text-decoration: none
    +text-shadow(0 0 2px #333)
    width: 100px
    padding: 5px 10px
    //width: 100%
    display: block
