.m-card
  display: block
  // Prevent the text contents of draggable elements from being selectable
  +user-select(none)
  width: $column-width - 10px
  height: 124px
  margin: -93px auto 0
  &:first-child
    margin-top: 0
  > img
    width: $column-width - 10px
    padding: 5px
    height: 124px
    background: #fcfcfc
    +box-shadow(rgba(#777, 0.75) 0 0 2px)
    +border-radius(10px)

  &[draggable='true']
    cursor: move
    &:hover
      > img
        +single-box-shadow(#3A8A5B, 0, 0, 3px, 2px)
