.m-card
  // Prevent the text contents of draggable elements from being selectable
  +user-select(none)
  position: relative
  +transition-property(top)
  +transition-duration(0.5s)
  +transition-timing-function(linear)
  display: block
  width: $column-width - 10px
  height: 124px
  margin: -93px auto 0
  > img
    width: $column-width - 10px
    padding: 5px
    height: 124px
    background: #fcfcfc
    +box-shadow(rgba(#777, 0.75) 0 0 2px)
    +border-radius(10px)
  &[draggable='true']
    cursor: move
    &:hover
      > img
        +single-box-shadow(#3a8a5b, 0, 0, 3px, 2px)
  &.is-drop-hovered
    > img
      +single-box-shadow(orange, 0, 0, 3px, 2px)


+keyframes(nodeInserted)
  from
    clip: rect(1px, auto, auto, auto)
  to
    clip: rect(0px, auto, auto, auto)

.m-column
  .m-card
    // abusing CSS3 animations to catch event of newly inserted DOM elements, cf.: http://davidwalsh.name/detect-node-insertion
    +animation-duration(0.001s)
    +animation-name(nodeInserted)
    top: 0
    &:nth-child(2)
      margin-top: -124px
    &.off-the-board
      top: 700px

.m-card_placeholder
  margin: 0 auto
  width: $column-width - 10px
  height: 124px
  background: shade($background-colour, 15)
  +border-radius(15px)
  z-index: -1
  &.is-drop-hovered
    +single-box-shadow(orange, 0, 0, 3px, 2px)


.m-pile
  .m-card
    width: 101px
    position: absolute
    bottom: -84px
    margin: 0 auto
    +box-shadow(0 0 0)
    > img
      width: 101px
      height: auto
      display: block
      margin: 0 auto
      +box-shadow(0 0 0)
      border: 1px solid rgba(#777, 0.3)
      &:hover
        border: 1px solid rgba(#3a8a5b, 0.5)
        +single-box-shadow(transparent, 0, 0, 0, 0)

  .m-card_placeholder
    width: auto
    background: rgba(shade($background-colour, 15), 0.4)
