#piles-wrapper
  +pie-clearfix
  margin: 0 auto 20px
  width: 968px
  height: 40px

.m-pile
  padding: 0
  float: left
  margin: 0 10px 0 0
  width: $column-width + 5
  height: 40px
  position: relative
  overflow: hidden
  &:nth-child(2n+2)
    margin-right: 20px

.m-pile--label
  margin-left: $padding
  +opacity(0.4)

.m-pile_diamonds, .m-pile_hearts
  @extend .m-pile
  color: #bc0000

.m-pile_clubs, .m-pile_spades
  @extend .m-pile
  color: #000
