#l-action-container
  +pie-clearfix
  position: fixed
  bottom: 0px
  width: $page-container-width

#l-piles-container
  float: left
  height: 40px

#piles-wrapper
  +pie-clearfix
  margin: 0 auto 20px
  //width: 948px
  height: 40px

.m-pile
  padding: 0
  float: left
  margin: 0 10px 0 0
  width: $column-width
  height: 40px
  position: relative
  overflow-y: hidden
  &:last-child
    margin-right: 0

.m-pile--label
  +opacity(0.8)
  text-align: center
  position: relative
  top: $padding

.m-pile_diamonds, .m-pile_hearts
  @extend .m-pile
  color: #bc0000

.m-pile_clubs, .m-pile_spades
  @extend .m-pile
  color: #000
